# Local / Vite
VITE_CONVEX_URL=https://watchful-marlin-169.eu-west-1.convex.cloud
VITE_CLERK_PUBLISHABLE_KEY=pk_test_...

# Vercel production should use the Convex prod URL:
# VITE_CONVEX_URL=https://marvelous-herring-626.eu-west-1.convex.cloud
